.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px 100px 80px;  
  background-color: pink;
  padding: 5px;
  gap: 5px;  
}
.container div {
  background-color: hotpink
;
  color:#614b47;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
